/*  Type Selectors -----*/
body {
  text-align: center;
  color: black;
  background-color: #E0E0E0;
}

a:link {
  text-decoration: none;
}

li {
  border: solid black 4px;
  list-style-type: none;
  list-style-position: outside;
}


/*  Class Selectors-----*/

.profile-image {
  width: 100%;
}

.portfolio-image {
  width: 100%;
}

.marketing {
  width: 100%;
}

.search {
  width: 100%;
}

.travel {
  width: 100%
}

.map {
  width: 100%;
}
