/*  Type Selectors -----*/
body {
  text-align: center;
  color: black;
  background-color: #E0E0E0;
}

footer {
  padding-top: 30px;
  background-color: #C0C0C0;
}

a:link {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  background-color: #fff;
  list-style-type: none;
  list-style-position: outside;
  padding-top: 5px;
  margin-top: 10px;
  padding-left: 0;
}



/*  Class Selectors-----*/

.secondary-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-image {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.portfolio-image {
  width: 100%;
}

.marketing {
  width: 100%;
}

.search {
  width: 100%;
}

.travel {
  width: 100%
}

.map {
  width: 100%;
}

.photo {
  width: 100%;
}
